* {
  margin: 0px;
  padding: 0px;
  color: lightgray;
  box-sizing: border-box;
  
}
body {
  background-color: black;
}
li {
  list-style: none;
}
h1 {
  font-size: 3rem;
  color: white;
  font-weight: bold;
}
a {
  text-decoration: none;
  color: white;
  font-weight: bold;
}
/* -------------------main화면 */

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-height: 950px;
  height: 100vh;
  margin: 0;
}

.main-title {
  font-size: 50px;
  opacity: 0;
  transition: opacity 3s ease;
}
.logo {
  opacity: 0;
  transition: opacity 3s ease;
  max-width: 900px;
  width: 100vw;
}

header img {
  width: 80vw;
  height: auto;
}

/* ---------------------------nav bar */
#nav-bar {
  position: fixed;
  top: -60px;
  transition: top 0.5s;
  z-index: 1;
}
#menuicon {
  display: none;
  z-index: 1;
}
#menuicon + label {
  display: block;
  width: 30px;
  height: 20px;
  position: relative;
  cursor: pointer;
  margin: 20px 10px;
  z-index: 1;
}
#menuicon + label span {
  display: block;
  position: absolute;
  width: 100%;
  height: 2px;
  border-radius: 30px;
  background: #fff;
  transition: all 0.35s;
  z-index: 1;
}
#menuicon + label span:nth-child(1) {
  top: 0;
}
#menuicon + label span:nth-child(2) {
  top: 50%;
  transform: translateY(-50%);
}
#menuicon + label span:nth-child(3) {
  bottom: 0;
}
#menuicon:checked + label {
  z-index: 2;
}
#menuicon:checked + label span {
  background: #fff;
}
#menuicon:checked + label span:nth-child(1) {
  top: 50%;
  transform: translateY(-50%) rotate(45deg);
}
#menuicon:checked + label span:nth-child(2) {
  opacity: 0;
}
#menuicon:checked + label span:nth-child(3) {
  bottom: 50%;
  transform: translateY(50%) rotate(-45deg);
}
.sidebar {
  width: 300px;
  height: 100%;
  background: black;
  position: fixed;
  top: 60px;
  left: -300px;
  transition: all 0.35s;
  opacity: 0.8;
}
#menuicon:checked + label + div {
  left: 0;
}

.sidebar ul li {
  color: white;
  font-weight: bold;
  opacity: 1;
  z-index: 9999999;
  margin: 10px 0 15px 10px;
}
/* ----------------------코코 샤넬intro part */
#main {
  margin: 10px 0px;
  width: 100vw;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: auto;
}
.intro img {
  width: 80vw;
  height: auto;
  margin: 20px;
}
.text-box {
  font-size: 1rem;
  max-width: 800px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 10px;
}
.hidden-text {
  display: none;
}
.hidden-button {
  background-color: black;
  border: none;
  padding: 10px;
  text-align: center;
}
.hidden-button i {
  font-size: 2em; /* 아이콘 크기를 조절 (선택적으로 조절 가능) */
  vertical-align: middle;
  cursor: pointer;
}
/* ---------------2024 S/S 영상---------------------------------------- */
#main2,
#main3,
#main4,
#main5 {
  margin: 150px 0px;
  width: 100vw;
  padding: 10px;
  /*box-sizing: border-box;*/
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
}
#main2 > a > video {
  max-width: 800px;
  width: 90vw;
}

/* --------------부띠끄 */
#main3 img,
#main3 video {
  max-width: 1200px;
  width: 95vw;
  max-height: 900px;
  height: 85vh;
  cursor: pointer;
}
/* ----------------------앰배서더 */
#main4 .card, #main5 .card {
  border: 0 solid black;
  background-color: black;
}
#main4 img {
  margin: 25px 0;
}
#main4 .card-text {
  font-size: 1.5rem;
}
/* -----------main5 */
#main5 {
  height: 100%
}

#main5 h1 {
  margin: 100px 0 0 0;
}
.main5-box {
  /* background-color: #bbb; */
  display: flex;
  max-width: 100vw;
  padding: 10px;
  margin: 50px 0;
}
#main5 img {
  cursor: pointer;
  width: 100%;
  height: 50vh;
}
.left-box {
  /* background-color: #333; */
  width:50%;
}
.right-text {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

/* -----------------footer */
footer {
  background-color: #111;
  text-align: center;
  font-size: 0.8rem;
}
.bottom-text {
  text-align: center;
  padding: 5px;
}
footer h2 {
  margin: 20px 0px;
}